<div class="form_country">
    <h1 class="country">{{name}}</h1>
    <h2 class="capital">{{capital}}</h2>
    <h2 class="population">{{population}}</h2>
    <ul class="languages">{{#each languages}}
        <li class="tag-list__item">{{this}}</li>
        {{/each}}

    </ul>
    <ul><img src="{{flag}}" alt="" class="flag" /></ul>

</div>