<h1 class="country"> {{name}}</h1>
<div class="form_country">
    <ul>
        <p class="capital"><span class="text">Capital: </span>{{capital}}</p>
        <p class="population"><span class="text">Population: </span>{{population}}</p>
        <ul class="languages"><span class="text">Languages:</span>{{#each languages}}
            <li class="tag-list__item">{{name}}</li>
            {{/each}}
        </ul>
    </ul>
    <ul><img src="{{flag}}" alt="" class="flag" /></ul>
</div>